button {
   border-top: 1px solid #660a0a;
   background: #ff0000;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ff0000));
   background: -webkit-linear-gradient(top, #ff0000, #ff0000);
   background: -moz-linear-gradient(top, #ff0000, #ff0000);
   background: -ms-linear-gradient(top, #ff0000, #ff0000);
   background: -o-linear-gradient(top, #ff0000, #ff0000);
   padding: 10.5px 21px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 17px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
button:hover {
   border-top-color: #a81b43;
   background: #a81b43;
   color: #ccc;
   }
button:active {
   border-top-color: #ff0000;
   background: #ff0000;
   }